<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://diego-blog.s3.amazonaws.com/uploads/post/post_image/11/1403305_538358376249127_203252510_o.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><%= t '.h1' %></h1>
                        <hr class="small">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p><%= t '.p1' %></p>
                <p><%= t '.p2' %></p>
                <p></p>
            </div>
        </div>
    </div>

    <hr>